      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      .start {
        font-family: 'Roboto', sans-serif;
        background-color: #EEEFF1;
        width: 1920px;
        height: 700px;
        padding-top: 57px;
        padding-bottom: 146px;
        padding-left: 402px;
        padding-right: 413px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
      }
      .start__wd {
        display: flex;
        justify-content: space-between;
      }
      .start__aside {
        font-family: 'Revalia', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        color: #34547a;
        text-align: center;
      }
      .start__nav {
        display: flex;
        justify-content:space-between;
        width: 611px;
        align-items: center;
      }
      .start__navboxes {
        font-size: 16px;
        font-style: normal;
        text-decoration: none;
        color: #000000;
      }
      .start__frameflex {
        width: 1105px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .start__frame {
        width: 357px;
      }
      .start__div {
        height: 297px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .start__header {
        font-size: 48px;
        font-weight: 500;
        width: 541px;
        /*min-width: 302px;*/
      }
      .start__section {
        font-size: 16px;
        line-height: 26px;
        color: #727272;
        font-weight:400;
        width: 540px;
      }
      .start__button {
        padding: 25px 41px;
      }
      .buttons {
        background-color: #34547A;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      .aboutme {
        font-family:  'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        width: 1920px;
        height: 366px;
        padding-top: 119px;
        padding-bottom: 100px;
      }
      .aboutme__header {
        width: 403px;
        text-align: center;
        font-weight: 500;
      }
      .aboutme__article {
        width: 540px;
        text-align: center;
        line-height: 26px;
        color: #727272;
      }
      .aboutme__footer {
        width: 1920px;
        height: 250px;
        padding-left: 405px;
        padding-right: 424px;
        display: flex;
        justify-content: space-between;
        background-color: #34547A;
      }
      .aboutme__img {
        width: 141px;
      }
      .skills {
        font-family: 'Roboto', sans-serif;
        background-color: #FFFFFF;
        width: 1920px;
        height: 653px;
        padding-top: 102px;
        padding-bottom: 101px;
        padding-right: 384px;
        padding-left: 386px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
      }
      .skills__aside {
      }
      .skills__img {
        width: 555px;
      }
      .skills__div {
        height: 257px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
      }
      .skills__header {
        font-size: 32px;
        font-style: normal;
        line-height: 37px;
        font-weight: 500;
      }
      .skills__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
      }
      .skills__stripes1 {
        width: 445px;
        height: 4px;
      }
      .skills__stripes2 {
        width: 350px;
        height: 4px;
      }
      .work {
        font-family: 'Roboto', sans-serif;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #EEEFF1;
        text-align: center;
      }
      .work__header {
        padding-top: 100px;
      }
      .work__article {
        width: 28%;
        min-width: 323px;
        margin-bottom: 57px;
      }
      .work__div {
        position: relative;
        margin-bottom: 100px;
      }
      .work__img {
        width: 1110px;
        min-width: 339px;
      }
      .work__play {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-property: opacity;
        transition-duration: 0.5s;
      }
      .work__div:hover .work__play {
        opacity: 0.8;
      }
      .gridbox {
        display: flex;
        flex-direction: column;
      }
      .grid {
        display: flex;
      }
      .grid__div {
        position: relative;
        flex: 25%;
        margin: -2px 0px;
        background-color: #34547A;
      }
      .grid__img {
        opacity: 1;
        width: 100%;
      }
      .grid__eye {
        width: 21%;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .grid__div:hover .grid__img {
        opacity: 0.5;
      }
      .grid__div:hover .grid__eye {
        opacity: 1;
      }
      .request {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EEEFF1;
      }
      .request__header {
        width: 28%;
        min-width: 322px;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 65px;
      }
      .request__article {
        width: 28%;
        text-align: center;
        min-width: 322px;
        margin-bottom: 65px;

      }
      .request__section {
        display: flex;
      }
      .request__text {
        font-family: inherit;
        width: 255px;
        height: 50px;
        padding: 20px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        border: 0px;
      }
      .request__textarea {
        font-family: inherit;
        padding: 20px;
        width: 540px;
        height: 175px;
        margin-bottom: 50px;
        border: 0px;
      }
      .request__button {
        font-family: inherit;
        background-color: #34547A;
        color: #FFFFFF;
        width: 190px;
        height: 55px;
        margin-bottom: 100px;
      }
      .request__footer {
        display: flex;
        background-color: #34547A;
        color: #FFFFFF;
        width: 100%;
        align-items: center;
        justify-content: space-around;
      }
      .request__img {
        margin: 10px;
      }
      @media (max-width: 1279px) {
        .start {
          width: 375px;
          height: 782px;
          padding-left: 19px;
          padding-right: 19px;
          padding-top: 0px;
          padding-bottom: 0px;
          margin: 0;
          justify-content: space-around;
        }
        .start__nav {
          display: none;
        }
        .start__aside {
          float: none;
        }
        .start__frameflex {
          flex-direction: column;
          justify-content: space-between;
          width: 322px;
        }
        .start__frame {
          width: 298px;
          align-items: center;
        }
        .start__img {
          width: 298px;
        }
        .start__div {
          align-items: center;
        }
        .start__header {
          text-align: center;
          font-size: 36px;
          width: 302px;
        }
        .start__section {
          text-align: center;
          width: 322px
        }
        .aboutme {
          width: 375px;
          height: 351px;
          padding-top: 91px;
          padding-bottom: 82;
        }
        .aboutme__header{
          width: 126px;
        }
        .aboutme__article{
          width: 323px;
          line-height: 19px;
        }
        .aboutme__footer {
          width: 376px;
          height: 477px;
          padding-left: 18px;
          padding-right: 19px;
          flex-wrap: wrap;
        }
        .skills {
          width: 375px;
          height: 815px;
          padding-left: 0;
          padding-right: 0;
          padding-top: 82px;
          padding-bottom: 103px;;
          flex-direction: column;
          align-items: center;
        }
        .skills__aside {
        }
        .skills__img {
          width: 339px;
        /*  align-self: center;*/
        }
        .skills__header {
          margin: 5px;
        }
        .skills__div {
          align-items: center;
          width: 339px;
        }
        .skills__stripes1 {
          width: 339px;
        }
        .skills__stripes2 {
          width: 267px;
          height: 4px;
        }
        .work__img {
          width: 58%;
        }
        .work__play {
          width: 75px;
        }
        .gridbox {
          flex-direction: row;
        }
        .grid {
          flex-direction: column;
        }
        .request__section {
          flex-direction: column;
        }
        .request__text {
          width: 342px;
        }
        .request__textarea {
          width: 342px;
        }
      }
