      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      :root {
        --theme-color1: #EEEFF1;  /*very light grey*/
        --theme-color2: #34547A;  /*dark blue*/
        --theme-color3: #FFFFFF;
        --theme-color4: #000000;
        --theme-color5: #727272;  /*light grey*/
      }
      .start {
        background-color: var(--theme-color1);
        font-family: 'Roboto', sans-serif;
      /*  width: 1920px;
        height: 700px;
        padding-top: 57px;
        padding-bottom: 146px;
        padding-left: 402px;
        padding-right: 413px;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
      }
      .start__wd {
        width: 1150px;
        margin: 0 auto;;
        padding-top: 57px;
        display: flex;
        justify-content: space-between;
      }
      .start__aside {
        font-family: 'Revalia', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        color: var(--theme-color2);
        text-align: center;
      }
      .start__nav {
        display: flex;
        justify-content:space-between;
        width: 611px;
        align-items: center;
      }
      .start__navboxes {
        font-size: 16px;
        font-style: normal;
        text-decoration: none;
        color: var(--theme-color4);
      }
      .start__frameflex {
        width: 1150px;
        margin: 0 auto;
        padding-top: 140px;
        padding-bottom: 146px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      .start__frame {
        width: 357px;
        padding-top: 21px;
        padding-left: 102px;
      }
      .start__div {
        /*height: 297px;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .start__header {
        font-size: 48px;
        font-weight: 500;
        font-size: 48px;
        width: 541px;
        /*min-width: 302px;*/
      }
      .start__section {
        padding: 60px 0;
        font-size: 16px;
        line-height: 26px;
        color: var(--theme-color5);
        font-weight:400;
        width: 540px;
      }
      .start__button {
        padding: 25px 41px;
      }
      .buttons {
        background-color: var(--theme-color2);
        color: var(--theme-color3);
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      .aboutme {
        font-family:  'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: var(--theme-color3);
        /*width: 1920px;
        height: 366px;*/
        margin: 0 auto;
        padding-top: 119px;
        padding-bottom: 100px;
      }
      .aboutme__header {
        width: 403px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 50px;
      }
      .aboutme__article {
        width: 540px;
        text-align: center;
        line-height: 26px;
        color: var(--theme-color5);
      }
      .aboutme__footer {
        /*width: 1920px;
        height: 250px;
        padding-left: 405px;
        padding-right: 424px;*/

        background-color: var(--theme-color2);
      }
      .aboutme__div {
        padding: 100px 0;
        margin: 0 auto;
        width: 1150px;
        display: flex;
        justify-content: space-around;
      }
      .aboutme__img {
        width: 141px;
      }
      .skills {
        font-family: 'Roboto', sans-serif;
        background-color: var(--theme-color3);
        /*width: 1920px;
        height: 653px;
        padding-top: 102px;
        padding-bottom: 101px;
        padding-right: 384px;
        padding-left: 386px;*/

      }
      .skills__content {
        width: 1150px;
        margin: 0 auto;
        padding-top: 102px;
        padding-bottom: 101px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
      }
      .skills__img {
        width: 555px;
      }
      .skills__div {
        height: 257px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
      }
      .skills__header {
        padding-bottom: 20px;
        font-size: 32px;
        font-style: normal;
        line-height: 37px;
        font-weight: 500;
      }
      .skills__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: var(--theme-color5);
      }
      .skills__stripes1 {
        width: 445px;
        height: 4px;
      }
      .skills__stripes2 {
        width: 350px;
        height: 4px;
      }
      .work {
        font-family: 'Roboto', sans-serif;
        display: flex;
        padding: 100px 0;
        flex-direction: column;
        align-items: center;
        background-color: var(--theme-color1);
        text-align: center;
        justify-content: space-between;
      }
      .work__header {
        width: 403px;
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        /*padding-top: 100px;*/
      }
      .work__article {
        font-size: 16px;
        line-height: 26px;
        padding-top: 50px;
        padding-bottom: 57px;
        width: 540px;
        color: var(--theme-color5);
      }
      .work__div {
        position: relative;
        /*margin-bottom: 100px;*/
      }
      .work__img {
        width: 1110px;
      }
      .work__play {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-property: opacity;
        transition-duration: 0.5s;
      }
      .work__div:hover .work__play {
        opacity: 0.8;
      }
      .gridbox {
    /*    width: 1920px;
        height: 1016px;*/
        padding-top: 28px;
        padding-bottom: 28px;
        background-color: var(--theme-color3);
        display: flex;
        flex-direction: column;
      }
      .grid {
        width: inherit;
        display: flex;
        justify-content: flex-start;
      }
      .grid__div {
        position: relative;
        /*width: 480px;*/
        background-color: var(--theme-color2);
        /*flex: 25%;*/
        max-width: 25%;
      }
      .grid__imgbox {
        display: flex;

      }
      .grid__img {
        opacity: 1;
        width: 100%;
        /*width: 480px;*/
      }
      .grid__eye {
        width: 100px;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .grid__div:hover .grid__img {
        opacity: 0.5;
      }
      .grid__div:hover .grid__eye {
        opacity: 1;
      }
      .request {
        font-family: 'Roboto', sans-serif;
        /*width: 1920px;
        height: 762px;*/
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--theme-color1);
      }
      .request__header {
        width: 406px;
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        color: var(--theme-color4);
        text-align: center;
      }
      .request__article {
        width: 540px;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: var(--theme-color5);
        text-align: center;
        padding-top: 50px;
        padding-bottom: 65px;
      }
      .request__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 540px;
        height: 245px;
      }
      .request__formtext {
        display: flex;
        justify-content: space-between;
      }
      .request__text {
        font-family: inherit;
        width: 255px;
        height: 50px;
        border: 0px;
        padding: 17px 20px;
        font-size: 14px;
        line-height: 23px;
        color: #5F5D5D;
      }
      .request__textarea {
        font-family: inherit;
        width: 540px;
        height: 175px;
        border: 0px;
        padding: 17px 20px;
        resize: none;
        font-size: 14px;
        line-height: 23px;
        color: #5F5D5D;
      }
      .request__button {
        font-family: inherit;
        background-color: var(--theme-color2);
        color: var(--theme-color3);
        margin-top: 50px;
        width: 190px;
        height: 55px;
        border: 0;
      }
      .footer {
        font-family: 'Roboto', sans-serif;

        background-color: var(--theme-color2);
        color: var(--theme-color3);
        /*width: 1920px;
        height: 151px;
        padding-left: 406px;
        padding-right: 389px;*/

      }
      .footer__box {
        width: 1150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;
        margin: 0 auto;;
      }
      .footer__text {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      .footer__header {
        font-weight: 500;
        font-size: 21px;
        margin-bottom: 20px;
      }
      .footer__article {
        font-size: 13px;
      }
      .footer__img {
        width: 175px;
        display: flex;
        justify-content: space-between;
      }
      @media (max-width: 1150px) {
        .start {
          /*justify-content: space-around;*/
        }
        .start__wd {
          padding-top: 22px;
          padding-left: 19px;
          width: auto;
          margin: 0;
        }
        .start__nav {
          display: none;
        }
        .start__aside {

          float: none;
        }
        .start__frameflex {
          padding-top: 67px;
          padding-bottom: 95px;
          flex-direction: column;
          justify-content: space-between;
          width: auto;
        }
        .start__frame {
          width: auto;
          padding: 0;
          margin: 0 auto;
          margin-bottom: 51px;
        }
        .start__img {
          width: 298px;
        }
        .start__div {
          align-items: center;
        }
        .start__header {
          text-align: center;
          font-size: 36px;
          width: 302px;
        }
        .start__section {
          padding: 44px 0;
          text-align: center;
          width: 322px
        }
        .aboutme {
          padding-top: 91px;
          padding-bottom: 82px;
        }
        .aboutme__header{
          width: 126px;
        }
        .aboutme__article{
          width: 323px;
          line-height: 19px;
        }
        .aboutme__footer {

        }
        .aboutme__div {
          width: auto;
          flex-wrap: wrap;
          padding: 30px 0;
        }
        .aboutme__img {
          padding: 45px 0;
        }
        .skills__content {
          padding: 0;
          padding-top: 82px;
          padding-bottom: 103px;
          width: auto;
          flex-direction: column;
          align-items: center;
        }
        .skills__aside {
        }
        .skills__img {
          width: 339px;
        /*  align-self: center;*/
        }
        .skills__header {

        }
        .skills__div {
          margin-top: 98px;
          align-items: center;
          width: 339px;
        }
        .skills__stripes1 {
          width: 339px;
        }
        .skills__stripes2 {
          width: 267px;
          height: 4px;
        }
        .work {
          padding-top: 93px;
          padding-bottom: 91px;
        }
        .work__header {
          width: 220px;
        }
        .work__article {
          width: 323px;
        }
        .work__img {
          width: 339px;
        }
        .work__play {
          width: 75px;
        }
        .gridbox {
          width: auto;
          padding: 34px 0;
          flex-direction: row;
        }
        .grid {
          flex-direction: column;
        }
        .grid__div {
          max-width: 100%;
        }
        .grid__img {
          width: 100%;
        }
        .request {
          width: auto;
          padding-top: 91px;
          padding-bottom: 100px;
        }
        .request__header {
          width: 260px;
        }
        .request__article {
          width: 322px;
          padding-top: 34px;
          padding-bottom: 48px;
        }
        .request__form {
          height: auto;
          width: 342px;
          /*height: 318px;*/
        }
        .request__formtext {
          height: 122px;
          flex-direction: column;
        }
        .request__text {
          width: 342px;
        }
        .request__textarea {
          margin-top: 21px;
          width: 342px;
        }
        .footer {
          width: auto;
          padding: 0;

        }
        .footer__box {
          width: auto;
          padding-top: 50px;
          padding-bottom: 48px;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        .footer__img {
          padding-top: 38px;
        }

      }
